* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 720px;
}

.cont {
  display: flex;
}

.bg {
  width: 600px;
}

.foto {
  width: 150px;
  height: 68px;
  display: block;
}
