* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
}

.cont {
  display: flex;
}

.bg {
  width: 600px;
}

.foto {
  width: 150px;
  height: 68px;
  display: block;
}

.quadro_1 {
  position: relative;
  border: 2px solid rgb(247, 250, 169);
}

.quadro_5 {
  position: relative;
}
.arrow {
  position: absolute;
  left: 60px;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  padding: 5px;
  background-color: rgb(204, 200, 200);
  border-radius: 50px;
}

.slide {
  position: relative;
}

.text {
  position: absolute;
  bottom: 30px;
  color: white;
}
